.film-maker {

    .title {
        font-weight: $weight-bold;
    }

    .film-maker-films {
        border-top: solid 1px $dark;
        margin-top: 2.75em;
        padding-top: 0.75em;
    }

    .film-summary-fullwidth {
        .title {
            font-weight: $weight-semibold;
        }
    }
}
