.page-film {
    .nav {
        transform: translateY(-$nav-height);
        margin-bottom: 0;

        .container {
            border-bottom: none;
        }

        &.is-active {
            transform: translateY(0);
            box-shadow: 0 2px 5px $grey;
        }
    }

    @include tablet {
        .nav {
            transform: translateY(-$nav-height-tablet);
        }
    }

    .footer {
        background-color: $primary;
    }
}

.film {
    margin-top: -$nav-height;

    @include tablet {
        margin-top: -$nav-height-tablet;
    }

    .container {
        margin: 0 1.25em;

        @include desktop {
            margin: 0 auto;
        }
    }

    .film-header {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 80vh;
        display: flex;
        align-items: flex-end;
        padding-bottom: 1em;

        .container {
            @include desktop {
                display: flex;
                justify-content: space-between;
            }
        }

        .title {
            color: findColorInvert($primary);
            font-weight: $weight-bold;
            align-self: flex-end;
            margin-bottom: 0;
            max-width: 80%;

            @include mobile {
                font-size: $size-2;
                max-width: none;
            }
        }

        .film-release-date {
            color: $primary;
            background-color: $body-background;
            border-radius: 50%;
            font-weight: $weight-bold;
            font-size: $size-6;
            width: 7em;
            max-width: 7em;
            height: 7em;
            max-height: 7em;
            margin-bottom: 0.9em;
            position: relative;

            .text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                max-width: 8em;
                text-align: center;
                line-height: 1;
            }

            @include tablet {
                font-size: $size-5;
                width: 8em;
                max-width: 8em;
                height: 8em;
                max-height: 8em;
            }
        }
    }

    .film-info {
        padding: 2.5em 0 1.75em;
    }

    .subtitle {
        font-weight: $weight-bold;
    }

    .film-origin-countries,
    .film-year-duration {
        font-weight: $weight-bold;
    }

    .film-year-duration {
        margin-bottom: 1.5rem;
    }

    .film-synopsis {
        font-size: $size-5;
        /*max-height: 10em;

        &.open {
            max-height: none;
        }*/
    }

    .film-poster {
        border: solid 1px $grey-dark;
    }

    .film-tech-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .film-broadcasting-networks {
        li {
            display: inline-block;
            margin: 0.25em 0.25em 0.25em 0;
        }
    }

    .film-awards {
        text-align: center;

        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 2em;
            }
        }

        .film-award-img {
            max-height: 6.5em;
            width: auto;
        }
    }

    .owl-carousel {
        a {
            color: $link;

            &:hover,
            &:active,
            &:focus {
                color: $link-hover;
            }
        }
    }

    .film-projections {
        .table {
            background-color: $grey-lighter;

            th, td {
                border-color: $dark;
            }

            tr:hover {
                background-color: transparent;
            }
        }
    }

    .film-streaming-media,
    .film-resources {
        .button {
            width: 100%;
            justify-content: flex-start;
            padding: 1.5em 1em;

            .icon {
                font-size: 1.75em;
            }
        }
    }

    .film-resources {
        .button {
            font-weight: $weight-bold;
            font-size: $size-5;
        }
    }

    .film-host-request {
        .select,
        .button {
            width: 100%;
        }

        .form-aside-info {
            p {
                padding-bottom: 0.75em;
                margin-bottom: 0.75em;

                &:not(:last-child) {
                    border-bottom: solid 1px $dark;
                }
            }
        }
    }

    .film-related-posts {
        .film-block-content {
            padding-top: 1em;
        }

        .blog-post-summary {
            .title {
                margin-top: 0;
            }
        }
    }
}

.film-block {
    border-top: solid 1px $dark;

    .film-block-header {
        padding: 0.65em 0 0.75em;

        .title {
            color: $text;
            font-weight: $weight-bold;
        }

        .icon {
            vertical-align: middle;
        }
    }

    .film-block-content {
        padding: 2.75em 0 2.75em;
    }

    &.is-collapsible {
        .film-block-header {
            color: $link;
            cursor: pointer;

            .title,
            a {
                color: $link;
            }

            &:hover,
            &:active,
            &:focus {
                .title,
                a {
                    color: $link-hover;
                }
            }
        }
    }
}
