$vod-bg-color: #404040;

.pg-vod-index {
    background-color: $vod-bg-color;
    color: $white;

    .nav {
        background-color: $vod-bg-color;

        .container {
            border-bottom-color: $white;
        }

        .nav-left,
        .nav-right,
        .nav-lang,
        .nav-lang-toggle,
        .nav-toggle,
        .nav-menu {
            background-color: $vod-bg-color;
        }

        .nav-toggle span {
            background-color: $white;
        }

        .nav-item a {
            color: $white;
        }
    }

    .footer {
        background-color: $primary;
    }
}
