.main-container {
    margin: 0 1.25em;
    min-height: 65vh;

    @include desktop {
        margin: 0 auto;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 2.75em;
}

.centered {
    text-align: center;
}