.blog-post-summary {
    .image {
        position: relative;

        &::after {
            @include image-overlay;
            opacity: 0;
            transition: opacity $speed-1;
            z-index: 1;
        }

        .related-film {
            padding: 0.25em 1em;
            background-color: $link;
            color: findColorInvert($link);
            position: absolute;
            bottom: 0;
            z-index: 2;
        }
    }

    .title {
        color: $link;
        font-weight: $weight-medium;
        line-height: 1.25em;
        margin: 0.75em 0 0.5em;
    }

    .intro {
        color: $text;
    }

    .blog-post-link {
        &:hover,
        &:focus,
        &:active {
            .image {
                &::after {
                    opacity: 1;
                }
            }

            .title {
                color: $link-hover;
            }
        }
    }
}
