.film-maker-summary {
    margin-bottom: 1em;

    .title {
        color: $link;
        font-weight: $weight-semibold;
        margin-top: 0.5em;
    }

    .image {
        &::after {
            @include image-overlay;
            opacity: 0;
            transition: opacity $speed-1;
        }
    }

    .film-maker-link {
        &:hover,
        &:focus,
        &:active {
            .image {
                &::after {
                    opacity: 1;
                }
            }
            .title {
                color: $link-hover;
            }
        }
    }
}
