.film-summary-starred {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 28em;
    margin-bottom: 1em;
    position: relative;

    &::before {
        @include image-overlay;
        opacity: 0;
        transition: opacity $speed-1;
        height: 25em;
        z-index: 1;
    }

    &:hover,
    &:focus,
    &:active {
        &::before {
            opacity: 1;
        }
    }

    .film-link {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        height: 100%;
        padding: 1em 0.5em;
        position: relative;
        z-index: 2;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    .title {
        font-weight: $weight-semibold;
        font-size: $size-3;
    }

    .title,
    .subtitle {
        color: $body-background;
    }

    .film-release-date {
        color: $primary;
        background-color: $body-background;
        border-radius: 50%;
        font-weight: $weight-bold;
        font-size: $size-6;
        width: 7em;
        max-width: 7em;
        height: 7em;
        max-height: 7em;
        margin-bottom: 0.9em;
        position: relative;
        align-self: flex-start;

        .text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            max-width: 8em;
            text-align: center;
            line-height: 1;
        }

        @include tablet {
            font-size: $size-5;
            width: 8em;
            max-width: 8em;
            height: 8em;
            max-height: 8em;
        }
    }

    @include tablet {
        height: 27.313em;

        &::before {
            height: 27.313em;
        }

        .film-link {
            padding: 1.5em 1em;
        }

        .film-release-date {
            align-self: flex-end;
        }
    }

    @include widescreen {
        height: 32.75em;

        &::before {
            height: 32.75em;
        }

        .title {
            font-size: $size-2;
        }
    }

    @include fullhd {
        height: 38.25em;

        &::before {
            height: 38.25em;
        }
    }
}
