.footer {
    color: findColorInvert($primary);
    padding: 2.5rem 1.5rem 2.5rem;
    margin-top: 4em;

    .logo {
        height: 3em;
        margin-right: 1em;

        @include desktop {
            height: 4em;
        }
    }

    .address {
        margin-bottom: 1em;
        font-style: normal;
        line-height: 1.25em;

        .name {
            font-weight: $weight-bold;
        }
    }

    a {
        color: findColorInvert($primary);

        &:hover {
            color: findColorInvert($primary);
        }
    }

    .site-map {
        padding-left: 4.6rem;

        @include desktop {
            padding-left: 0;
        }
    }

    .icon {
        font-size: 1.25em;
    }

    .main-address {
        font-size: $size-7;

        .address {
            margin-bottom: 0;
        }

        .links-list li {
            display: inline-block;
            position: relative;

            &:not(:first-child)::before {
                content: '';
                display: block;
                height: 1em;
                width: 1px;
                background-color: $body-background;
                position: absolute;
                top: 0.25em;
                left: 0.1em;
            }

            &:not(:first-child) {
                a {
                    margin-left: 0.5em;
                }
            }
        }
    }
}
