.modal-content {
    margin: 0 2.5em;
    max-height: calc(100vh - 2.5em);

    @include tablet {
        margin: 0 auto;
        max-height: calc(100vh - 2.5em);
        width: 100%;
        max-width: 65vw;
    }
}

.modal.is-gallery {
    .modal-content {
        display: flex;
        align-items: center;

        .gallery-next,
        .gallery-prev {
            font-family: 'icomoon' !important;
            font-size: $size-6;

            &::after {
                display: inline-block;
                line-height: 1;
            }

            @include tablet {
                font-size: $size-4;
            }
        }

        .gallery-prev {
            margin-right: .5em;

            &::after {
                content: "\f0da";
                transform: rotate(180deg);
            }
        }

        .gallery-next {
            margin-left: .5em;

            &::after {
                content: "\f0da";
            }
        }
    }
}