$nav-height: 4.15em;
$nav-height-tablet: 9.4em;

.nav {
    background-color: $body-background;
    margin-bottom: 2.75em;
    position: relative;
    z-index: 10;

    .container {
        position: relative;
        display: flex;
        align-items: stretch;
        min-height: $nav-height;

        @include tablet {
            margin: 0 1.25em 0 0.5em;
        }
        @include desktop {
            margin: 0 auto;
        }
    }

    .nav-left,
    .nav-right {
        background-color: $body-background;
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 100%;
    }

    .nav-left {
        justify-content: flex-start;
        white-space: nowrap;
        z-index: 6;
    }

    .nav-right {
        justify-content: flex-end;
    }

    .nav-logo {
        margin-left: 0.75em;
        padding-top: 0.5em;

        @include tablet {
            margin-left: 0.25em;
        }
        @include desktop {
            margin-left: -0.75em;
        }

        .logo {
            width: auto;
            height: 3.25em;

            @include tablet {
                height: 6.5em;
            }

            @include widescreen {
                height: 8.5em;
            }
        }
    }

    .nav-lang-toggle,
    .nav-lang {
        background-color: $body-background;
        z-index: 6;
        text-transform: uppercase;

        .nav-item {
            padding: 0.5em 0.5em;
        }
    }

    .nav-lang-toggle {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .nav-item {
            align-self: stretch;
            cursor: pointer;
            position: relative;
            height: $nav-height;
            width: $nav-height;
            user-select: none;
        }

        span {
            transition: none $speed $easing;
            transition-property: background, left, opacity, transform;
        }

        &.is-active {
            .nav-item {
                background-color: $black;
            }

            span {
                background-color: findColorInvert($black);
                display: block;
                height: 1px;
                left: 50%;
                margin-left: -7px;
                position: absolute;
                top: 50%;
                width: 15px;
                &:nth-child(1) {
                    margin-top: -6px;
                    margin-left: -5px;
                    transform: rotate(45deg);
                    transform-origin: left top;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    margin-top: 4px;
                    margin-left: -5px;
                    transform: rotate(-45deg);
                    transform-origin: left bottom;
                }
            }
        }
    }

    .nav-toggle {
        @include hamburger($nav-height);
        background-color: $body-background;
        height: 100%;
        z-index: 6;

        @include tablet {
            display: none;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: $white;
            color: $text;
        }
        &.is-active {
            background-color: $black;

            span {
                background-color: findColorInvert($black);
            }
        }
    }

    .nav-menu,
    .nav-lang {
        font-weight: $weight-medium;

        @include mobile {
            background-color: $body-background;
            border-bottom: 1px solid $primary;
            box-shadow: 0 4px 7px rgba($black, 0.1);
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 5;
            display: none;

            .nav-item {
                border-bottom: 1px solid rgba($border, 0.5);
                padding: 0.75rem;
            }

            &.is-active {
                display: block;
                animation: slide-in-top $speed-2 cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            }
            &.is-closed {
                display: block;
                animation: slide-out-top $speed-2 cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            }
        }

        @include tablet {
            .nav-item {
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .nav-item {
        align-items: center;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: $size-normal;
        justify-content: center;
        line-height: 1.5;
        padding: 0.5em 0.75em;

        &.is-active a {
            color: $link-active;
            font-weight: $weight-bold;
        }
    }

    .nav-item a {
        color: $text;

        &:hover {
            color: $link-hover;
        }
    }

    @include tablet {
        .container {
            min-height: $nav-height-tablet;
        }

        .nav-right {
            flex-direction: column;
            align-items: flex-end;
        }

        .nav-lang-toggle {
            display: none;
        }

        .nav-lang {
            display: flex;
            flex-grow: 0;
        }

        .nav-menu {
            margin-bottom: 0.5rem;

            > .nav-item {
                display: inline;
            }
        }

    }
}
