$nav-height: 4.15em;
$nav-height-tablet: 9.4em;

.nav-opener {
    padding: 1em 0.75em 0.5em;
    cursor: pointer;
    position: absolute;
    top: -0.5em;
    left: 3em;
    user-select: none;

    @include tablet {
        left: 6em;
    }

    &:hover,
    &:active,
    &:focus {
        animation: shake-vertical 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    &.is-active {
        display: none;
        top: $nav-height;
        @include tablet {
            top: $nav-height-tablet;
        }

        &:hover,
        &:active,
        &:focus {
            animation: none;
        }
    }
    &.is-closed {
        top: 0;
    }

    .logo {
        height: 75px;
        vertical-align: middle;
    }
}
