////////////////////////////////////////////////
////////////////////////////////////////////////
// 1. Initial variables

// Colors
$black: #000000;
$blue: #1c8ae0;

// Typography
$family-sans-serif: 'Work Sans', sans-serif;

$size-1: 5.3rem;
$size-2: 3.5rem;
$size-3: 2.5rem;
$size-4: 1.7rem;
$size-5: 1.35rem;
$size-6: 1rem;
$size-7: 0.9rem;

$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// Body
$body-background: $white;
$body-size: 16px;

// Miscellaneous
$easing: ease-out;
$radius: 0;
$speed: 86ms;
$speed-1: 172ms;
$speed-2: 258ms;
$speed-3: 344ms;
$speed-4: 430ms;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Primary colors

$primary: $black;
$light: $grey;
$dark: $black;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 3. Applied variables

// General colors
$body-background: $white;
$background: $blue;
$border: $grey;

// Text colors
$text: $black;
$text-light: $grey;
$text-strong: $black;

// Link colors
$link: $blue;
$link-visited: $link;
$link-hover: $black;
$link-hover-border: $black;
$link-focus: $black;
$link-focus-border: $black;
$link-active: $black;
$link-active-border: $black;

// Typography
$family-primary: $family-sans-serif;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;


////////////////////////////////////////////////
////////////////////////////////////////////////
// 4. Components

$title: $primary;
$subtitle: $primary;

$button: $primary;
$button-border: $primary;
