@font-face {
    font-family: 'icomoon';
    src:  url('/assets/web/fonts/icomoon.eot?mmu38h');
    src:  url('/assets/web/fonts/icomoon.eot?mmu38h#iefix') format('embedded-opentype'),
    url('/assets/web/fonts/icomoon.ttf?mmu38h') format('truetype'),
    url('/assets/web/fonts/icomoon.ttf?mmu38h') format('woff'),
    url('/assets/web/fonts/icomoon.svg?mmu38h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
    content: "\e900";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-arrow-circle-o-down:before {
    content: "\f01a";
}
.icon-twitter-square:before {
    content: "\f081";
}
.icon-facebook-square:before {
    content: "\f082";
}
.icon-play-circle-o:before {
    content: "\f01d";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-ticket:before {
    content: "\f145";
}
